@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 100%;
  line-height: 1;
  background: #fff;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}

h1 {
  
  font-weight: bold;
    font-size: 55px;
    color: #222;
    font-family: 'Inter', sans-serif;
}


.generate-btn {
  border: 3px solid #222;
  border-radius: 10px;
  color: #222;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2rem;
  background: transparent;
  padding: 15px;
  padding-right: 100px;
  margin-right: 20px;
  outline: none;
  text-transform: lowercase;
}

.generate-btn:hover {
  background: #222;
  color: #fff;
}

.generate-btn:hover, .generate-btn:focus {
  cursor: pointer;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}